*{margin:0px;padding:0px;font-size:16px;vertical-align: center;color:#222222;text-decoration:none;}
header{ width:1200px; margin:10px auto 10px; }
.search_form{ display:inline-block; }
.search_form>input[type='text']{ border:1px solid #dddddd; border-radius:5px; width:170px; padding:2px 5px; }
.search_form>input[type='submit']{ background-color: transparent; border:none; padding:20px 0px; }
header .search_form{ position: relative; left:500px; }
span.title a{ font-size:32px; font-weight:bold; }
span.user{ position:relative; left:650px; }
.nav_section{ margin-bottom: 50px; }
.main_section{ width:1200px; margin:auto; margin-bottom: 50px; }
.main_section .course_name{ margin-right: 20px; }
.main_section .price{ color:red; }
.main_section figure{ display:inline-block; width:300px; padding:30px 47px; }
.main_section figcaption{ text-align: center; }
.main_section img{ width:300px; height: 100px;}
section h1{ font-size:28px; font-weight:bold; }
footer{ width:1200px; margin:10px auto; border-top:1px solid #dddddd; }
footer *{ font-size: 14px; }
#footer_div1{ display:inline-block; width:720px; vertical-align: top; margin-top:10px; }
#footer_div2{ display:inline-block; }
footer figure{ display:inline-block; padding:0px 10px 10px 10px; }
footer figure img{ width:116px; height:116px; }
footer figcaption{ text-align: center; }
footer p{ text-align: right; }
/*course.html`*/
.course_detail{ border-top:1px solid #dddddd; padding:20px 0px 20px 0px; border-bottom: 1px solid #dddddd; }
.course_detail img{ width:600px; margin:0px 40px 0px 100px; }
.course_detail_div{ display:inline-block; vertical-align: bottom; font-size: 22px; line-height: 40px; }
.course_detail_div h1{ margin:20px 0px; }
.course_detail_div a{ display:inline-block; padding:5px 10px; width:115px; line-height: 20px; text-align: center; background-color: red; border-radius: 8px; color:white; font-size: 20px; font-weight:bolder; margin-right:10px; }
.course_summary h2{ color:red; margin:20px 0px; }
.summary_p{ text-indent: 2em; line-height: 30px; }
/*video*/
.video_section{ background-color: black; }
.video_section h2{ color:grey; font-size:28px; text-indent: 2em; }
video{ margin:20px 0px; }
/*登录注册*/
#register,#login{ background-color: white; position:absolute; left:50%; top:50%; margin-left:-230px; margin-top:-200px; border:1.5px solid #dddddd; border-radius: 10px; width:400px; padding:50px 60px 100px 60px; }
#register h2,#login h2{ color:deepskyblue; font-size: 32px; text-align: center; font-weight: 400; margin-bottom: 50px; }
#register input[type='text'],#register input[type='password'],#login input[type='text'],#login input[type='password']{ font-size:24px; border:none; border-bottom: 1px solid #dddddd; width:400px; margin-bottom:30px; }
#register input[type='submit'],#login input[type='submit']{ display:block; margin:20px auto 0px; width:200px; padding:5px 30px; border:none; border-radius: 10px; text-align: center; background-color: deepskyblue; color:white; font-size:28px; }
#register_message,#login_message{ color:red; text-align: center; margin-bottom: 40px; font-size: 28px; }
hr{ border:0.5px solid #dddddd; color:transparent; }
/*user.html*/
#user_manage{ margin:40px auto; width:1100px; }
#user_manage nav{ display:inline-block; width:200px; border:1px solid #ddd; background-color: #EDEDED; }
#user_manage nav p{ padding:20px 20px; border-bottom: 1px solid #dddddd; }
.user_info{ display:inline-block; width:890px; height:500px; background-color: #EDEDED; border:1px solid #ddd; vertical-align: top; }
.user_info ul { list-style: none; }
.user_info li{ margin-bottom: 20px; }
.user_info input[type='text']{ border:none; border-bottom:1px solid #dddddd; width:200px; background-color: transparent; }
.user_info input[type='submit'],.user_info input[type='reset']{ font-weight: normal; border:1px solid darkgray; color:#FF1E0C; border-radius: 10px; padding:3px 15px; background-color: transparent; margin-left:100px; }
.user_info input[type='reset']{ margin-left:20px; }
.user_info label{ margin-right:20px; }
.user_info_wrapper{ margin:10px 0px 0px 50px; }
/*user_course.html*/
#user_course_table th{text-align: left;}
#user_course_table td{ border-bottom: 1px solid #dddddd; }
.user_info_course_tr{ vertical-align: bottom; height:60px; }
#user_info_course_tr_first{ vertical-align: top; height:30px; }
#user_course_table a{ color:red; }
/*user_shoppingcart.html*/
#user_shopping_cart_tr_first{ vertical-align: top; height:30px; }
.user_info_shopping_tr{ vertical-align: bottom; height:60px; }
#user_shopping_cart th{ text-align: left; }
#user_shopping_cart td{ border-bottom:1px solid #dddddd; }
#user_shopping_cart a{ color:red; }



